# Local configuration files
.claude/*
!.claude/CLAUDE.md
cspell.json
.opencode/better-prompt
.agents/

# Temporary files
*.tmp
*.temp
.DS_Store
tmp/

# node
node_modules/
dist/

# Test outputs
test-results/
coverage/
eval/

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Backup files
*.bak
*.backup
*.bckp.*

# env
.env
skills-lock.json
CONTEXT.md
